

body {
  background-image: url('https://wallpapers.com/images/high/e-commerce-1920-x-1080-wallpaper-4w0dly7sr76xiytd.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}

.app {
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product, .cart-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.product img, .cart-item img {
  width: 100%;
  height: auto;
}

.cart {
  margin-top: 20px;
}
